<div href="javascript:void(0);" class="static_dropdown static_nav" id="staticDropdown" onclick="staticDropdownResponsive()">
  <div class="static_pages_header">
    <%= link_to "Blog", blogs_path, class: 'static_pages_header_item' %>
    <%= link_to "Portfolio", portfolios_path, class: 'static_pages_header_item' %>
    <a href="/portfolios/#contact" class="static_pages_header_item" >Contact</a>
  </div>
  <i class="fas fa-chevron-down"></i>
</div>