<div id="home_page" class="container">
  <div class="content">
    <%= render 'static_pages/header' %>
    <div class="bio">
      <span class="brand">Preston Matheson</span>
      <div class="bio_summary">
        Software Engineer, Entrepreneur, Innovator
      </div>
    </div>
    <%= render 'shared/copyright' %>
  </div>
</div>