<div class="new_item_header">
  
</div>
<div class="container">
  <h1>Editing Portfolio</h1>

  <%= render 'form', portfolio: @portfolio %>

  <%= link_to 'Show', @portfolio %> |
  <%= link_to 'Back', portfolios_path %> |
  <%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure you want to delete this post' } %>
</div>