<!-- Footer -->
<footer>
  <div class="container">
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <a target="_blank" href="https://github.com/prestonmatheson">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a target="_blank" href="https://www.linkedin.com/in/preston-matheson-7394b4ba">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
    <div class="copyright_containment">
      <%= render 'shared/copyright' %>
    </div>
  </div>
</footer>