// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.custom_card {
  margin-top: 10px;
  cursor: pointer;
}
.blog_index_subject {
  color: black;
  margin-bottom: 10px;
}

.carousel {
  background: black;
  height: 33vh;
}
.carousel-item {
  text-align: center;
  color: #fff;
  padding: 15vh;
}